<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CIS9650/blob/main/PythonStrings_Fall_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>Strings in Python</b>   

*from '30 Days of Python: Day 4 - Strings', [Asabeneh Yetayah, on Github](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/04_Day_Strings/04_strings.md), July 2021*

#Contents



---

##Strings

Text is a string data type. Any data type written as text is a string. Any data under single, double or triple quote are strings. There are different string methods and built-in functions to deal with string data types. To check the length of a string use the len() method.

###Creating a String

In [ ]:

letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be made using a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying your day"
print(sentence)

In [ ]:
sentence = 'I hope you are enjoying your day?"'
print(sentence)

Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.

In [ ]:

multiline_string = '''I am a fashion designer and enjoy sewing.
I didn't find anything as rewarding as creating style.
That is why I created my own fashion line.'''
print(multiline_string)
print()
# Another way of doing the same thing
multiline_string = """I am a fashion designer and enjoy sewing.
I didn't find anything as rewarding as creating style.
That is why I created my own fashion line."""
print(multiline_string)

### String Concatenation

We can connect strings together. Merging or connecting strings is called concatenation. See the example below:

In [ ]:

first_name = 'Taylor'
last_name = "Swift"
space = ' '
full_name = first_name  +  " " + last_name
print(full_name) # Taylor Swift
# Checking the length of a string using len() built-in function
print(len(first_name))  # 6
print(len(last_name))   # 5
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 11

### Escape Sequences in Strings

In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

Now, let us see the use of the above escape sequences with examples.

In [ ]:
phrase = 'This isn\'t a good example'
print(phrase) # This isn't a good example

In [ ]:

print('I hope everyone is enjoying the Python stringObject.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

<b><u>Output</b></u>  
```
I hope every one is enjoying the Python stringObject.
Are you ?
Days	Topics	Exercises
Day 1	5	    5
Day 2	6	    20
Day 3	5	    23
Day 4	1	    35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"
```

### String Formatting

### <font color=red>No need to learn the old way...</font>

#### Old Style String Formatting  
`(% Operator)`

In Python there are many ways of formatting strings. In this section, we will cover some of them.
The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.<small>number of digits</small>f".

- %s - String (or any object with a string representation, like numbers)
- %d - Integers
- %f - Floating point numbers
- "%.<small>number of digits</small>f" - Floating point numbers with fixed precision

In [ ]:

# Strings only
first_name = 'Taylor'
last_name = 'Swift'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"

###


#### String Interpolation
*or f-Strings (Python 3.6+)*

A new string formatting since release 3.6 is string interpolation, `f-strings`. Strings start with f and we can inject the data in their corresponding positions.

In [ ]:

a = 4
b = 3
print(f'{a} + {b} = {a + b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b:.2f}')
print(f'{a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

### Python Strings as Sequences of Characters

Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects – lists and tuples. The simplest way of extracting single characters from strings (and individual members from any sequence) is to unpack them into corresponding variables.

#### Unpacking Characters

In [ ]:

language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

#### Accessing Characters in Strings by Index

In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

![StringSequence.png]()

In [ ]:

language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

If we want to start from the right end we can use negative indexing. -1 is the last index.

In [ ]:

language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

#### Slicing Python Strings

In python we can slice strings into substrings.

In [ ]:

language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

#### Reversing a String

We can easily reverse strings in python.

In [ ]:

greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

#### Skipping Characters While Slicing

It is possible to skip characters while slicing by passing step argument to slice method.

In [ ]:

language = 'Python'
pto = language[0:6:2] #
print(pto) # Pto



---

### String Methods

There are many string methods which allow us to format strings. See some of the string methods in the following example:

#### String Methods - *Formatting*

- strip(): Removes all given characters starting from the beginning and end of the string

In [ ]:

stringObject ='thirty days of pythoonnn'
print(stringObject.strip('noth')) # 'irty days of py'

- lower(): Converts the characters of the string to lower case

In [ ]:

stringObject ='Thirty Days of Python'
print(stringObject.lower()) # 'thirty days of python'

- upper(): Converts the characters of the string to UPPER CASE

In [ ]:

stringObject ='Thirty days of python'
print(stringObject.upper()) # 'THIRTY DAYS OF PYTHON'

- capitalize(): Converts the first character of the string to capital letter

In [ ]:

stringObject ='thirty days of python'
print(stringObject.capitalize()) # 'Thirty days of python'

- title(): Returns a title cased string

In [ ]:

stringObject ='thirty days of python'
print(stringObject.title()) # Thirty Days Of Python

- swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

In [ ]:

stringObject ='thirty days of python'
print(stringObject.swapcase())   # THIRTY DAYS OF PYTHON
stringObject ='Thirty Days Of Python'
print(stringObject.swapcase())  # tHIRTY dAYS oF pYTHON

- expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

In [ ]:

stringObject ='thirty\tdays\tof\tpython'
print(stringObject.expandtabs())   # 'thirty  days    of      python'
print(stringObject.expandtabs(10)) # 'thirty    days      of        python'

- format(): formats string into a nicer output  
   More about string formatting check this [link](https://www.programiz.com/python-programming/methods/string/format)

In [ ]:

first_name = 'Taylor'
last_name = 'Swift'
age = 250
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I am {} years old. I live in {}.'.format(first_name, last_name, age, job, country)
print(sentence) # I am Taylor Swift. I am 250 years old. I am a teacher. I live in Finland.

radius = 10
pi = 3.14
area = pi * radius ** 2
result = 'The area of a circle with radius {} is {}'.format(str(radius), str(area))
print(result) # The area of a circle with radius 10 is 314

#### String Methods - *Evaluation*

- count(): returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

In [ ]:

stringObject ='thirty days of python'
print(stringObject.count('y')) # 3
print(stringObject.count('y', 7, 14)) # 1,
print(stringObject.count('th')) # 2`

#### String Methods - *Search*

- endswith(): Checks if a string ends with a specified ending

In [ ]:

stringObject ='thirty days of python'
print(stringObject.endswith('on'))   # True
print(stringObject.endswith('tion')) # False

- find(): Returns the index of the first occurrence of a substring, if not found returns -1

In [ ]:

stringObject ='thirty days of python'
print(stringObject.find('y'))  # 5
print(stringObject.find('th')) # 0

- rfind(): Returns the index of the last occurrence of a substring, if not found returns -1

In [ ]:

stringObject ='thirty days of python'
print(stringObject.rfind('y'))  # 16
print(stringObject.rfind('th')) # 17

- index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). If the substring is not found it raises a valueError.

In [ ]:

stringObject ='thirty days of python'
sub_string = 'da'
print(stringObject.index(sub_string,))  # 7

In [ ]:
print(stringObject.index(sub_string, 9)) # error

- rindex(): Returns the highest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1)

In [ ]:

stringObject ='thirty days of python'
sub_string = 'da'
print(stringObject.rindex(sub_string))  # 7
print(stringObject.rindex('on', 8)) # 19

In [ ]:
print(stringObject.rindex(sub_string, 9)) # error

#### String Methods - *Boolean*

- startswith(): Checks if String Starts with the Specified String

In [ ]:

stringObject ='thirty days of python'
print(stringObject.startswith('thirty')) # True

stringObject ='30 days of python'
print(stringObject.startswith('thirty')) # False

- isalnum(): Checks alphanumeric character

In [ ]:

stringObject ='ThirtyDaysPython'
print(stringObject.isalnum()) # True

stringObject ='30DaysPython'
print(stringObject.isalnum()) # True

stringObject ='thirty days of python'
print(stringObject.isalnum()) # False, space is not an alphanumeric character

stringObject ='thirty days of python 2019'
print(stringObject.isalnum()) # False

- isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isalpha()) # False, space is once again excluded
stringObject ='ThirtyDaysPython'
print(stringObject.isalpha()) # True
num = '123'
print(num.isalpha())      # False

- isdecimal(): Checks if all characters in a string are decimal (0-9)

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isdecimal())  # False
stringObject ='123'
print(stringObject.isdecimal())  # True
stringObject ='\u00B2'
print(stringObject.isdigit())   # False
stringObject ='12 3'
print(stringObject.isdecimal())  # False, space not allowed

- isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

In [ ]:

stringObject ='Thirty'
print(stringObject.isdigit()) # False
stringObject ='30'
print(stringObject.isdigit())   # True
stringObject ='\u00B2'
print(stringObject.isdigit())   # True

- isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

In [ ]:

num = '10'
print(num.isnumeric()) # True
num = '\u00BD' # ½
print(num.isnumeric()) # True
num = '10.5'
print(num.isnumeric()) # False

- isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

In [ ]:

stringObject ='30DaysOfPython'
print(stringObject.isidentifier()) # False, because it starts with a number
stringObject ='thirty_days_of_python'
print(stringObject.isidentifier()) # True

- islower(): Checks if all alphabet characters in the string are lowercase

In [ ]:

stringObject ='thirty days of python'
print(stringObject.islower()) # True
stringObject ='Thirty days of python'
print(stringObject.islower()) # False

- isupper(): Checks if all alphabet characters in the string are uppercase

In [ ]:

stringObject ='thirty days of python'
print(stringObject.isupper()) #  False
stringObject ='THIRTY DAYS OF PYTHON'
print(stringObject.isupper()) # True

#### String Methods - *Slice and Set Operations*

- join(): Returns a concatenated string

In [ ]:

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ' '.join(web_tech)
print(result) # 'HTML CSS JavaScript React'

In [ ]:

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#*#'.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

- replace(): Replaces substring with a given string

In [ ]:

stringObject ='thirty days of python'
print(stringObject.replace('python', 'coding')) # 'thirty days of coding'

- split(): Splits the string, using given string or space as a separator

In [ ]:

stringObject ='thirty days of python'
print(stringObject.split()) # ['thirty', 'days', 'of', 'python']
stringObject ='thirty, days, of, python'
print(stringObject.split(', ')) # ['thirty', 'days', 'of', 'python']



---


## 💻 Exercises - Strings

1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.
3. Declare a variable named company and assign it to an initial value "Coding For All".
4. Print the variable company using _print()_.
5. Print the length of the company string using _len()_ method and _print()_.
6. Change all the characters to uppercase letters using _upper()_ method.
7. Change all the characters to lowercase letters using _lower()_ method.
8. Use capitalize(), title(), swapcase() methods to format the value of the string _Coding For All_.
9. Cut(slice) out the first word of _Coding For All_ string.
10. Check if _Coding For All_ string contains a word Coding using the method index, find or other methods.
11. Replace the word coding in the string 'Coding For All' to Python.
12. Change Python for Everyone to Python for All using the replace method or other methods.
13. Split the string 'Coding For All' using space as the separator (split()) .
14. "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.
15. What is the character at index 0 in the string _Coding For All_.
16. What is the last index of the string _Coding For All_.
17. What character is at index 10 in "Coding For All" string.
18. Create an acronym or an abbreviation for the name 'Python For Everyone'.
19. Create an acronym or an abbreviation for the name 'Coding For All'.
20. Use index to determine the position of the first occurrence of C in Coding For All.
21. Use index to determine the position of the first occurrence of F in Coding For All.
22. Use rfind to determine the position of the last occurrence of l in Coding For All People.
23. Use index or find to find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
24. Use rindex to find the position of the last occurrence of the word because in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
25. Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
26. Find the position of the first occurrence of the word 'because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
27. Slice out the phrase 'because because because' in the following sentence: 'You cannot end a sentence with because because because is a conjunction'
28. Does '\'Coding For All' start with a substring _Coding_?
29. Does 'Coding For All' end with a substring _coding_?
30. '&nbsp;&nbsp; Coding For All &nbsp;&nbsp;&nbsp; &nbsp;' &nbsp;, remove the left and right trailing spaces in the given string.
31. Which one of the following variables return True when we use the method isidentifier():
    - 30DaysOfPython
    - thirty_days_of_python
32. The following list contains the names of some of python libraries: ['Django', 'Flask', 'Bottle', 'Pyramid', 'Falcon']. Join the list with a hash with space string.
33. Use the new line escape sequence to separate the following sentences.
    
    I am enjoying this stringObject.
    I just wonder what is next.
    
34. Use a tab escape sequence to write the following lines.
    
    Name      Age     Country   City
    Taylor  250     Finland   Helsinki
    
35. Use the string formatting method to display the following:

```
radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.
```

36. Make the following using string formatting methods:

```
8 + 6 = 14
8 - 6 = 2
8 * 6 = 48
8 / 6 = 1.33
8 % 6 = 2
8 // 6 = 1
8 ** 6 = 262144
```



---